html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("https://i.imgur.com/GoyVuUt.png");


}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 20%;
    padding-bottom: 20px;
}